html {
    background-color: rgb(10, 23, 42);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#logotipo {
    width: 400px;
        height: auto;
        margin-bottom: 20px;
}

h1 {
    color: rgb(136, 227, 24);
    padding-top: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 200;
    font-size: 0.95em;
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}